# Backend ---------------------------------------:
# Python
*.pyc
*.py_x
*test*.py
*/*.pyc
*.txt
*.env*
# MySQL
*.sql

# JSON FILE for Oauth2 for sending mails using python
*.com.json

# Frontend: -------------------------------------:
*dynamic/
*/node_modules/
acme-education-frontend/node_modules/
acme-education-frontend/.pnp
acme-education-frontend/.pnp.js
acme-education-frontend/.yarn/install-state.gz

# testing
acme-education-frontend/coverage

# next.js
acme-education-frontend/.next/
acme-education-frontend/out/

# production
acme-education-frontend/build

# misc
acme-education-frontend/.DS_Store
acme-education-frontend/*.pem

# debug
acme-education-frontend/npm-debug.log*
acme-education-frontend/yarn-debug.log*
acme-education-frontend/yarn-error.log*

# local env files
acme-education-frontend/.env*.local

# vercel
acme-education-frontend/.vercel

# typescript
acme-education-frontend/*.tsbuildinfo
acme-education-frontend/next-env.d.ts

acme-education-frontend/.env
